{{- if (stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt")) -}}
encryption = "age"

[age]
    identity = "{{ joinPath .chezmoi.homeDir ".config/chezmoi/key.txt" }}"
    recipient = "age1zm7h53lxqmaczhhdejc07935ula0ym7405mckadxpa9l93dgjc7skrwtek"
{{ end -}}

{{- $defaultMachineType := "desktop" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $kernelRelease := lower .chezmoi.kernel.osrelease -}}
{{-   if or (contains "microsoft" $kernelRelease) (contains "wsl" $kernelRelease) -}}
{{-     $defaultMachineType = "wsl" -}}
{{-   else -}}
{{-     $defaultMachineType = "server" -}}
{{-   end -}}
{{- end -}}
{{- $machineTypePrompt := printf "Machine type (wsl/server/desktop), auto-detected: %s" $defaultMachineType -}}
{{- $machineType := promptStringOnce . "machine_type" $machineTypePrompt $defaultMachineType -}}

[data]
    machine_type = {{ $machineType | quote }}
